<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="AccessKey" value="AKIAJJ2AFJA2YGMYSPMQ"/>
    <add key="SecretKey" value="XXXXXXXXXXXXXXXXXXXXXXXXX"/>
    <add key="BucketName" value="photossharing"/>
  </appSettings>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <connectionStrings><add name="geophotosEntities" connectionString="metadata=res://*/PhotosModel.csdl|res://*/PhotosModel.ssdl|res://*/PhotosModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=geophotosharing.cwiizi4ta0bg.us-west-2.rds.amazonaws.com;port=3306;user id=tomer;database=geophotos;password=qwer1234;persist security info=True&quot;" providerName="System.Data.EntityClient"/><add name="geophotosEntities1" connectionString="metadata=res://*/PhotosModel.csdl|res://*/PhotosModel.ssdl|res://*/PhotosModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=geophotosharing.cwiizi4ta0bg.us-west-2.rds.amazonaws.com;port=3306;user id=tomer;database=geophotos;password=qwer1234;persist security info=True&quot;" providerName="System.Data.EntityClient"/></connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
  </entityFramework>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
